* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  line-height: 1.5;
  font-family: system-ui;
  --green-color: #059669;
  --grey-color: #e2e8f0;
  --gold-color: #f7ad2d;
  --boxshadow: 2px 2px 4px 1px rgb(0 0 0 / 10%);
}

header {
  background-color: var(--green-color);
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: white;
  font-size: 2rem;
  padding: 15px 30px;
}

.dropdown {
  position: relative;
}

.dropdown button {
  background-color: var(--green-color);
  border: none;
  cursor: pointer;
  display: block;
}

.dropdown button:hover,
button:focus {
  background-color: rgba(148, 148, 148, 0.383);
}

.dropdown img {
  width: 40px;
  display: block;
}

.dropdown .menuItems {
  font-size: 1.1rem;
  color: rgba(0, 0, 0, 0.466);
  background-color: var(--grey-color);
  padding: 5px 10px;
  box-shadow: var(--boxshadow);

  position: absolute;
  left: -40%;
  /* display: none; */
  visibility: hidden;
  opacity: 0;
}

.dropdown p:hover {
  background-color: #ddd;
  cursor: pointer;
}

.dropdown .show {
  visibility: visible;
  opacity: 1;
}

/* CAROUSEL */

.slidesFrame {
  width: 400px;
  overflow: hidden;
  position: relative;
  margin: auto;
}

.slidesContainer {
  display: flex;
}

.slide {
  width: 400px;
  flex-shrink: 0;
}

.slide img {
  width: 100%;
  vertical-align: middle;
}

.slidesFrame button {
  width: 25px;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background-color: rgba(255, 255, 255, 0.5);
  border: none;
  cursor: pointer;
  z-index: 1;
}

button.right {
  right: 0;
}

.navigation {
  display: flex;
  justify-content: center;
  gap: 10px;
  padding: 10px 0;
}

.navigation .placementIndicator {
  width: 15px;
  height: 15px;
  border-radius: 50%;
  border: 0;
  background: rgba(0, 0, 0, 0.3);
  cursor: pointer;
}

.placementIndicator.current {
  background: rgba(0, 0, 0, 0.7);
}
